{block content}
<h1>Import dat</h1>
<form n:name="importForm" class="form-inline">
    <div class="form-group">
        <input n:name="source" class="form-control" value="http://3it.cz/test/data/json" placeholder="Zdroj dat">
    </div>
    <div class="form-group">
        <select n:name="driver" class="form-control">
            <option value="json">JSON</option>
        </select>
    </div>
    <button n:name="process" class="btn btn-primary"/>
</form>
<p><small>Poznámka: Importováním nových dat se stará data přepíšou.</small></p>

<h1>Zobrazení dat</h1>
{snippet items}
    <table class="items table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    <a n:href="changeOrder!, column => 'id'" class="ajax">id</a>
                    {include #orderArrow, column => 'id'}
                </th>
                <th>
                    <a n:href="changeOrder!, column => 'jmeno'" class="ajax">jmeno</a>
                    {include #orderArrow, column => 'jmeno'}
                </th>
                <th>
                    <a n:href="changeOrder!, column => 'prijmeni'" class="ajax">prijmeni</a>
                    {include #orderArrow, column => 'prijmeni'}
                </th>
                <th>
                    <a n:href="changeOrder!, column => 'date'" class="ajax">datum</a>
                    {include #orderArrow, column => 'date'}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr n:foreach="$itemsPaginated as $item">
                <td>{$item->id}</td>
                <td>{$item->jmeno}</td>
                <td>{$item->prijmeni}</td>
                <td>{$item->date|date:'j.n.Y'}</td>
            </tr>
        </tbody>
    </table>
    <center>{control paginator}</center>
{/snippet}
{/block}


{block orderArrow}
    <span n:if="$presenter->orderBy == $column && $presenter->orderType == 'ASC'"
    >▴</span>
    <span n:if="$presenter->orderBy == $column && $presenter->orderType == 'DESC'"
    >▾</span>
{/block}


{block head}
    {include #parent}
    <link href="{$basePath}/css/app.homepage.default.css" rel="stylesheet">
{/block}


{block scripts}
    {include #parent}
    <script src="{$basePath}/js/app.homepage.default.js"></script>
{/block}
